header {
  @media ($mobile) {
    border-bottom: 1px solid #e0e0e0;
  }

  nav {
    overflow: hidden;
    float: right;
    @media ($mobile) {
      visibility: hidden;
    }

    ul {
      list-style-type: none;
      float: right;
      li {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }

  .logo {
    display: inline-block;
    margin: 15px 0px 15px 5px;
    @media ($mobile) {
      margin: 18px 18px 18px 0;
      padding-left: 18px;
      height: auto;
    }
  }

  .js-nav-toggle {
    @media ($mobile) {
      display: inline-block;
      span {
        text-decoration: none;
        color: $linkGray;
        position: absolute;
        right: 25px;
        top: 20px;
        font-size: 1.75em;
      }
    }
  }
}
