// Colours //
$peach: #ff7865;
$pineGreen: #0f5441;
$oceanBlue: #204c63;
$burgundy: #6d475a;
$yellow: #ffd779;
$linkGray: #7a7a7a;
$textGray: #3d3d3c;
$white: #ffffff;
$copyrightGray: #5b5b5b;
$backgroundPeach: #fff7f4;

// Fonts //
@font-face {
  font-family: "Proxima N W01";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/proxima-nova-regular.woff2") format("woff2"), url("fonts/proxima-nova-regular.woff") format("woff");
}
@font-face {
  font-family: "Proxima N W01";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/proxima-nova-bold.woff2") format("woff2"), url("fonts/proxima-nova-bold.woff") format("woff");
}
@font-face {
  font-family: "Proxima N W01";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/proxima-nova-extrabold.woff2") format("woff2"),
    url("fonts/proxima-nova-extrabold.woff") format("woff");
}
