@import "variables";
@import "header";
@import "main";
@import "footer";

// Mixins //
@mixinoffer-color ($color) {
}

// Assignment Styles //

body {
  font-family: "Proxima N W01", Fallback, sans-serif;
  font-weight: regular;
  color: $textGray;

  @media ($mobile) {
    margin: 0;
  }
}

a {
  color: $linkGray;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $peach;
}

.w-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 18px;
}

.wave {
  background-image: url("../images/blood-tests-bg.svg");
  background-repeat: no-repeat;
  background-position: 0 160px;
}

// media queries //

@media (max-width: 480px) {
  footer {
    background-size: 0px;
  }

  .w-container {
    padding: 0;
  }
}

@media (min-width: 480px) {
  .w-container {
    padding: 0 12px;
  }
  .js-nav-toggle {
    visibility: hidden;
  }
  .slick-dots {
    visibility: hidden;
  }
}
@media (min-width: 1200px) {
  .w-container {
    padding: 0 12px;
  }
}
